body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.order-btn {
  font-weight: 500;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  size: 16px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.order-btn:hover {
  background-color: #404bbf;
}
.order-btn:focus {
  background-color: #404bbf;
}
.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-logo:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.main-logo-part2 {
  color: #2e2f42;
}
.navigation {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation:hover {
  color: #404bbf;
}
.navigation:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.mail {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail:hover {
  color: #404bbf;
}
.mail:focus {
  color: #404bbf;
}
.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
}
.section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-goal {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
}
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.one-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.foot-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.foot-span {
  color: #f4f4fd;
  display: inline-block;
}
.foot-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  width: 1440px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.section-three-div {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.main-two {
  margin-right: 76px;
}
.spisok {
  list-style-type: none;
  display: flex;
  margin-right: 40px;
  gap: 40px;
  margin: auto;
}
.ul-adrs {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.section-two {
  padding: 120px 0;
}
.visually-hidden {
  display: none;
}
.spis {
  list-style-type: none;
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}
.kok {
  width: calc((100% - 72px) / 4);
  margin-bottom: 8px;
}
.shawa {
  list-style-type: none;
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}
.list-three-div {
  padding: 32px 0;
}
.secfour {
  padding-top: 120px;
  padding-bottom: 120px;
}
.born {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}
.polar {
  width: calc((100% - 48px) / 3);
}
.list-four-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.another-container {
  display: flex;
  align-items: center;
}
.img {
  display: block;
}
